/* .main-container {
    width: 80%;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}

.main-container div {
    width: 22%;
    background-color: chartreuse;
}

.main-container h2 {
    margin: 20px 0;
}

.main-container img {
    width: 100%;
}

.main-container p {} */