/* .phone-container {
    text-align: center;
    width: 31.33%;
    margin: 1%;
    background-color: #f0efef;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
}

.phone-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: -10px;
    gap: 100px;
    flex-wrap: wrap;
}

.phone-container h2 {
    color: #8B4513;
    font-weight: 800;
}

.phone-container p {
    color: #8B4513;
    margin-left: -190px;
    font-weight: 800;
} */