* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

.arrival-img {
    width: 450px;
    height: 400px;
    position: absolute;
    left: 150px;
    top: 220px;
}

.arrival-h2 {
    position: absolute;
    left: 240px;
    top: 370px;
    z-index: 1;
    letter-spacing: 1px;
    text-align: left;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
}

.womens-top-1-img {
    position: absolute;
    left: 955px;
    width: 160px;
    height: 220px;
    top: 220px;
}

.womens-top-2-img {
    position: absolute;
    left: 680px;
    width: 170px;
    height: 220px;
    top: 220px;
}

.womens-top-2-h2 {
    position: absolute;
    left: 713px;
    top: 460px;
    font-size: medium;
}

.womens-top-1-h2 {
    position: absolute;
    left: 987px;
    top: 460px;
    font-size: medium;
}

.womens-top-1-p {
    position: absolute;
    left: 739px;
    top: 490px;
    font-size: 15px;
}

.womens-top-2-p {
    position: absolute;
    left: 1013px;
    top: 490px;
    font-size: 15px;
}

.overlay {
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 335px;
    height: 200px;
    left: 205px;
    top: 320px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
}

.arrival-button {
    background-color: #e0dc00;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    left: 310px;
    top: 430px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
}

.yellow-container {
    background-color: yellow;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-h2 {
    text-align: center;
    color: black;
    font-size: 37px;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 700px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.womens-top-3-img {
    position: absolute;
    left: 190px;
    width: 184px;
    height: 220px;
    top: 720px;
}

.womens-top-3-h2 {
    position: absolute;
    left: 240px;
    top: 960px;
    font-size: 15px;
}

.womens-top-3-p {
    position: absolute;
    left: 255px;
    top: 990px;
}

.final-img {
    width: 550px;
    height: 550px;
    position: absolute;
    left: 650px;
    top: 550px;
}

.final-button {
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    left: 310px;
    top: 430px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
}

.overlay-final {
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 335px;
    height: 200px;
    left: 760px;
    top: 800px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
    z-index: 4;
}

.final-button {
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    left: 865px;
    top: 920px;
    position: absolute;
    z-index: 5;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
}

.final-h2 {
    position: absolute;
    left: 820px;
    top: 850px;
    z-index: 1;
    letter-spacing: 1px;
    text-align: left;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation: fadeInGrow 2s ease-in-out forwards;
    z-index: 6;
}